[Desktop Entry]
Type=Application
Name=gtkapp
Comment=When all else fails.
Exec=gtkapp
Icon=utilities-terminal
Terminal=false
Categories=GTK;Utility;
StartupNotify=true

